<h1>here is the Sign Up Page. Please enter the details</h1>


<!-- here we create the Create action which help us to get the data, create work as a controller. -->
<form action="/user/create" method="post">
    <input type="text" name="name" id=" " placeholder="Please enter the name" required>
    <input type="email" name="email" id=" " placeholder="Please enter the Email" required>
    <input type="password" name="password" id=" " placeholder="Please enter your password" required>
    <input type="password" name="confirm_password" id=" " placeholder="confirm your password" required>

    <input type="submit" value="Sign-Up">
</form>
