*{
    margin: 0;
}

body{
    // background-color: cyan;
    text-align: center;


    #header-part{
        height: 40px;
        
        background-color: blue;
    }

    #layout-main{
        height: 1000px;
    }
}